<div class="row bg-primary text-dark border-top border-bottom border-5 border-black p-5">
    <div class="col d-flex justify-content-center">
        <p class="fs-4 text-center w-50">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem pariatur ducimus repudiandae animi aliquid harum dignissimos saepe consectetur laborum cum itaque, accusamus voluptate, amet voluptatum iusto temporibus minima, hic dolor.
            Sint id distinctio dolor omnis deleniti repellat unde maiores totam sit adipisci! Quia distinctio ipsum laborum placeat voluptas, esse sit nulla ab cupiditate facere maiores adipisci quod ipsa voluptate labore!
            Excepturi at, ducimus aliquam ullam beatae nam temporibus vel eius tempora unde adipisci porro iure, ea quis possimus a! Impedit delectus placeat beatae hic ratione! Praesentium deserunt unde voluptatem maxime.
        </p>
    </div>
</div>