<!-- logo -->
<div class="row">
    <div class="col d-flex justify-content-center">
        <img class="mt-4" src="https://via.placeholder.com/640x360">
    </div>
</div>
<!-- <div class="row">
    <div class="col">
        
    </div>
</div> -->

<!-- mission statement-->
<div class="row">
    <div class="col">
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis labore praesentium omnis officia repudiandae. Dolore nisi deserunt error, delectus beatae impedit! Modi, perferendis doloribus. Commodi eaque a porro dolore fugiat.
        </p>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card">
            <img src="https://via.placeholder.com/640x360" class="card-img-top" alt="placeholder">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="https://via.placeholder.com/640x360" class="card-img-top" alt="placeholder">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="https://via.placeholder.com/640x360" class="card-img-top" alt="placeholder">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        </div>
</div>
<!-- Deck of Cards of Games-->