<!-- logo -->
<div class="row">
    <div class="col d-flex justify-content-center">
        <img class="mt-4" src="https://via.placeholder.com/640x360">
    </div>
</div>
<div class="row">
    <div class="col">
        
    </div>
</div>

<!-- mission statement-->
<div class="row">
    <div class="col">
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis labore praesentium omnis officia repudiandae. Dolore nisi deserunt error, delectus beatae impedit! Modi, perferendis doloribus. Commodi eaque a porro dolore fugiat.
            Soluta magnam corrupti iste consectetur reiciendis! Ipsa mollitia blanditiis quo, ratione modi tempore. Impedit debitis facere neque quae nemo, illo, dolores aspernatur ex consequatur quo, eligendi beatae magnam in odio.
            Tempora voluptatum illo, quod inventore natus neque sint explicabo quam perspiciatis sequi deleniti expedita voluptate harum possimus? Eos corporis animi facilis illum cupiditate. Earum labore voluptas, provident odit asperiores laudantium!
        </p>
    </div>
</div>
<!-- Deck of Cards of Games-->