<!-- logo -->
<div class="row">
    <div class="col d-flex justify-content-center">
        <img class="mt-4" src="https://via.placeholder.com/640x360">
    </div>
</div>
<!-- mission statement -->
<div class="row mission-statement">
    <div class="col">
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem pariatur ducimus repudiandae animi aliquid harum dignissimos saepe consectetur laborum cum itaque, accusamus voluptate, amet voluptatum iusto temporibus minima, hic dolor.
            Sint id distinctio dolor omnis deleniti repellat unde maiores totam sit adipisci! Quia distinctio ipsum laborum placeat voluptas, esse sit nulla ab cupiditate facere maiores adipisci quod ipsa voluptate labore!
            Excepturi at, ducimus aliquam ullam beatae nam temporibus vel eius tempora unde adipisci porro iure, ea quis possimus a! Impedit delectus placeat beatae hic ratione! Praesentium deserunt unde voluptatem maxime.
        </p>
    </div>
</div>

<app-card-list [cardList]="games"></app-card-list>

<!--<pre>{{ games | async | json }}</pre> -->
<!-- Deck of cards of games -->